<section>
    <div class="popup-menu">
        <div class="side-bar">
            <div class="profile"><img src="/asset/img/profile.png"></div>
            <div class="logout"><img src="/asset/img/onoff.png"></div>
        </div>
        <div class="categories">
            {% for category in site.category %}
                <div class="folder popup-list" id="{{category[0]}}" onclick="float_folder_sub(event)">{{category[0]}}</div>
            {% endfor %}
        </div>
    </div>
    
    <div class="workspace">
        <div class="workspace-menu">
            <div class="menu-icon"></div>
        </div>
    
        <div class="workspace-time">
            <span class="main-clock-time"></span>
            <span class="main-clock-date"></span>
        </div>
    
    </div>
    
    <div class="signout-screen">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        <span>Signing out</span>
    </div>
</section>



<script type="text/javascript" src="/asset/js/workspace.js"></script>